@model SAMS_UI.ViewModels.BackendDashboardViewModel
@{
    ViewData["Title"] = "Dashboard Details";
}



<section class="bg-white dark:bg-white min-h-screen">
    <div class="flex items-center justify-start mb-8 pb-4 gap-3">
        <!-- Back Icon Link -->
        <a asp-action="Index" class="text-gray-400 border border-gray-400 dark:text-black hover:text-matisse-600 transition-colors">
            <svg class="w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15 19-7-7 7-7" />
            </svg>
        </a>

        <!-- Title -->
        <h3 class="text-l font-nunito-sans text-matisse-600 dark:text-matisse-900">USER DETAILS</h3>
    </div>


    <dl class="grid grid-cols-1 md:grid-cols-1 gap-x-12 gap-y-6 text-gray-900 dark:text-matisse-900">
        <div class="mb-5" >
            <dt class="text-sm font-semibold font-nunito-sans text-masala-800 tracking-[0.56px] dark:text-matisse-900">CLIENT ID</dt>
            <dd class="mt-1 text-l border border-gray-300 p-1 w-96 font-normal">@Model.Id.ToString().ToUpper()</dd>
        </div>

        <div class ="mb-5">
            <dt class="text-sm font-semibold font-nunito-sans text-masala-800 tracking-[0.56px] dark:text-matisse-900">CLIENT NAME</dt>
            <dd class="mt-1 text-l border border-gray-300 p-1 w-96 font-normal">@Html.DisplayFor(model => model.UserName)</dd>
        </div>

        <div class="mb-5">
            <dt class="text-sm font-semibold font-nunito-sans text-masala-800 tracking-[0.56px] dark:text-matisse-900">CLIENT SECRET</dt>
            <dd class="mt-1 text-l border border-gray-300 p-1 w-96 font-normal">@Html.DisplayFor(model => model.UserSecret)</dd>
        </div>

        <div class="mb-5">
            <dt class="text-sm font-semibold font-nunito-sans text-masala-800 tracking-[0.56px] dark:text-matisse-900">CREATED AT</dt>
            <dd class="mt-1 text-l border border-gray-300 p-1 w-96 font-normal">@Model.CreatedAt.AddHours(3)</dd>
        </div>

        <div class="mb-5">
            <dt class="text-sm font-semibold font-nunito-sans text-masala-800 tracking-[0.56px] dark:text-matisse-900">CLIENT DESCRIPTION</dt>
            <dd class="mt-1 text-l border border-gray-300 p-1 w-96 font-normal">@Html.DisplayFor(model => model.Description)</dd>
        </div>

        <div>
            <div class="mb-2">
                <dt class="text-sm font-semibold font-nunito-sans text-masala-800 tracking-[0.56px] dark:text-matisse-900">ACTIVITY STATUS</dt>
            </div>


            <div class="flex items-center gap-56">
                <dd class="mt-1 border border-gray-300 p-1 w-96 text-l font-normal">
                    @(Model.isActive ? "Active" : "Inactive")
                </dd>
                <!-- Trigger button -->
                <button type="button"
                        data-modal-target="toggle-user-activity-modal-@Model.Id"
                        data-modal-toggle="toggle-user-activity-modal-@Model.Id"
                        class="text-white mt-1 text-sm font-medium px-4 py-2 rounded-lg transition-all
                        @(Model.isActive ? "bg-red-600 hover:bg-red-700" : "bg-green-600 hover:bg-green-700")">
                        @(Model.isActive ? "Deactivate" : "Activate")
                </button>

                <!-- Modal -->
                <div id="toggle-user-activity-modal-@Model.Id" tabindex="-1"
                     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-md max-h-full">
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Close button -->
                            <button type="button"
                                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="toggle-user-activity-modal-@Model.Id">
                                <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>

                            <!-- Modal content -->
                            <div class="p-4 md:p-5 text-center">
                                <svg class="mx-auto mb-4 w-12 h-12 @(Model.isActive ? "text-red-600" : "text-green-600") dark:text-gray-200" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                    Are you sure you want to
                                    <span class="font-semibold text-gray-700">@(Model.isActive ? "Deactivate" : "Activate")</span>
                                    this user?
                                </h3>

                                <!-- Form -->
                                <form asp-controller="User" asp-action="ToggleUserActivity" method="post" class="inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="userId" value="@Model.Id" />
                                    <input type="hidden" name="isActive" value="@(Model.isActive ? "false" : "true")" />
                                    <button type="submit"
                                            class="text-white @(Model.isActive ? "bg-red-600 hover:bg-red-700 focus:ring-red-300 dark:focus:ring-red-800" : "bg-green-600 hover:bg-green-700 focus:ring-green-300 dark:focus:ring-green-800") font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                                            data-modal-hide="toggle-user-activity-modal-@Model.Id">
                                        Yes, @(Model.isActive ? "Deactivate" : "Activate")
                                    </button>
                                </form>

                                <!-- Cancel -->
                                <button type="button"
                                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                        data-modal-hide="toggle-user-activity-modal-@Model.Id">
                                    No, Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </dl>
</section>