﻿@using SAMS_UI.Services.Interfaces
@using SAMS_UI.ViewModels
@model SAMS_UI.ViewModels.PaginatedListViewModel<RoleViewModel>
@inject IViewPolicyService ViewPolicyService
@{
    ViewData["Title"] = "Roles";
    var policies = ViewBag.Roles as List<PolicyViewModel>;
    var userPolicies = await ViewPolicyService.GetPoliciesForCurrentUserAsync(User);
}

<h3 class="text-l font-nunito-sans mb-10 font-medium text-matisse-600 dark:text-matisse-900">ROLES</h3>


@if (userPolicies.Contains("CanCreateRoles"))
{
    <div class="flex flex-wrap gap-8 mt-1 w-50">
        <!-- Create New Role -->
        <div class="flex-1 flex-wrap min-w-[200px]">
            <h3 class="text-lg text-masala-800 font-semibold mb-2">Create New Role</h3>
            <!-- Create Role Trigger -->
            <div class="flex items-center space-x-3">
                <input id="newRoleNameInput" type="text" name="roleName" placeholder="Role name"
                       class="w-64 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required />

                <button type="button"
                        data-modal-target="confirm-create-role-modal"
                        data-modal-toggle="confirm-create-role-modal"
                        class="bg-blue-950 text-white px-4 py-2 rounded hover:bg-matisse-800 transition whitespace-nowrap">
                    Add Role
                </button>
            </div>


            <!-- Modal for Confirming Role Creation -->
            <div id="confirm-create-role-modal" tabindex="-1"
                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

                        <!-- Close button -->
                        <button type="button"
                                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="confirm-create-role-modal">
                            <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>

                        <!-- Modal content -->
                        <div class="p-4 md:p-5 text-center">
                            <svg class="mx-auto mb-4 text-mexican-red-700 w-12 h-12 dark:text-gray-200" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                Are you sure you want to create this new role?
                            </h3>

                            <!-- Confirmation Form -->
                            <form asp-action="CreateRole" method="post" class="inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="roleName" id="hiddenRoleNameInput" />
                                <button type="submit"
                                        class="text-white bg-matisse-700 hover:bg-matisse-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                                        data-modal-hide="confirm-create-role-modal">
                                    Yes, create
                                </button>
                            </form>

                            <!-- Cancel -->
                            <button type="button"
                                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                    data-modal-hide="confirm-create-role-modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="overflow-x-auto border border-gray-300 sm:rounded-lg mt-5 ">
    <table class="w-full text-sm text-left rtl:text-right text-masala-800 dark:text-gray-50">
        <thead class="text-xs text-masala-800 uppercase border-b border-gray-300 bg-mustard-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 dark:text-white">
            <tr>
                <th scope="col" class="border-r border-gray-300 px-6 py-3">
                    Role
                </th>
                @if (userPolicies.Contains("CanDeleteRoles"))
                {
                    <th scope="col" class=" border-r border-gray-300 px-3 py-3 w-50 text-center">
                        Actions
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Items)
            {
                <tr class=" text-masala-800 bg-mustard-50 border-b border-gray-300 dark:border-black">
                    <td class=" border-r border-gray-300 px-6 py-4">
                        @role.Name
                    </td>
                    @if (userPolicies.Contains("CanDeleteRoles"))
                    {
                        <td class="px-2 py-4 text-center">
                            <!-- Remove Button to open modal -->
                            <button type="button"
                                    data-modal-target="confirm-delete-@role.Id"
                                    data-modal-toggle="confirm-delete-@role.Id"
                                    class="bg-red-700 text-white px-3 py-1 rounded">
                                Remove
                            </button>

                            <div id="confirm-delete-@role.Id" tabindex="-1"
                                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-md max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <button type="button"
                                                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                data-modal-hide="confirm-delete-@role.Id">
                                            <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                        <div class="p-4 md:p-5 text-center">
                                            <svg class="mx-auto mb-4 text-mexican-red-700 w-12 h-12 dark:text-gray-200" fill="none" viewBox="0 0 20 20">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                                Are you sure you want to delete this role?
                                                <span class="font-semibold text-gray-700">"@role.Name"</span>
                                            </h3>

                                            <form asp-action="RemoveRole" method="post" class="inline">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="roleId" value="@role.Id" />
                                                <button type="submit"
                                                        class="text-white bg-mexican-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                                                        data-modal-hide="confirm-delete-@role.Id">
                                                    Yes, I'm sure
                                                </button>
                                            </form>

                                            <button type="button"
                                                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                                    data-modal-hide="confirm-delete-@role.Id">
                                                No, cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

</div>


@await Html.PartialAsync("_UIPagination", new SAMS_UI.ViewModels.PaginatedListViewModel<object>
{
    Items = Model.Items.Cast<object>().ToList(),
        PageIndex = Model.PageIndex,
        TotalPages = Model.TotalPages,
        TotalCount = Model.TotalCount,
        PageSize = Model.PageSize
    })

@section Scripts {
    <!-- JS to copy roleName into modal's hidden field -->
    <script>
        document.querySelector('[data-modal-toggle="confirm-create-role-modal"]').addEventListener("click", function () {
            const input = document.getElementById("newRoleNameInput");
            const hiddenInput = document.getElementById("hiddenRoleNameInput");
            hiddenInput.value = input.value;
        });
    </script>
}